#GameBoard {
  position: relative;
  margin: auto;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjust GameBoard Size for Mobile View */
@media (max-width: 768px) {
  #GameBoard {
    width: 90vw; /* Increase width to 90% of viewport */
    height: 60vw; /* Height proportional to width */
  }
}

@media (max-width: 480px) {
  #GameBoard {
    width: 95vw; /* Increase width to 95% of viewport */
    height: 70vw; /* Height proportional to width */
  }
}

#GameBoard .Block {
  position: absolute;
}

#GameBoard .home-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #A15FF4;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#GameBoard .home-button:hover {
  background-color: #6228a8;
}

#GameBoard #Score {
  position: relative;
  top: 105%;
  text-align: center;
  font-weight: bold;
}

#GameBoard .pause-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #A15FF4;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/* Directional Buttons for Mobile Mode */
.direction-buttons {
  position: absolute;
  bottom: -100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}



@media (max-width: 769px) {
  .direction-buttons {
    bottom: -400px; /* Move the buttons even further down on very small screens */
  }
  #PressSpaceText {
    display: none;

  }
}

.direction-buttons .horizontal-buttons {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.direction-button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #79d47c;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.direction-button:hover {
  background-color: #45a049;
}

@media (min-width: 769px) {
  .direction-buttons {
    display: none;
  }

}
