/* ResetPasswordForm.css */

#reset-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-password-form {
  background-color: #212936;
  border-radius: 30px;
  padding: 20px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reset-password-form h2 {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 20px; 
  font-weight: 400; 
  line-height: 36.22px; 
  text-align: center;
  color: #B1E457;
  margin-bottom: 0rem;
  margin-top: 0px;
}

.reset-password-form .input-field {
  margin: 10px 0;
  width: 100%;
  position: relative;
}

.reset-password-form .input-field input {
  width: 85%;
  padding: 10px 0px 10px 40px;
  margin: 5px auto;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #6C727F;
  color: white;
}

.reset-password-form .input-field input::placeholder {
  color: #a1a1a1;
  transform: translateY(1px);
}

.reset-password-form .input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.reset-password-form .error-message {
  background-color: #AE2D5D;
  color: white;
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-left: 0px;
  display: flex;
  align-items: center;
  width: 90%;
  text-align: left;
}

.reset-password-form .reset-password-error {
  /* Custom styles for reset password errors */
}

.reset-password-form .error-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.reset-password-form .error-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  text-size-adjust: 5;
}

.reset-password-form .error-title {
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.reset-password-form .error-detail {
  margin: 0;
  line-height: 1.2;
  text-align: left;
}

.reset-password-form button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 95%;
  margin-top: 10px;
}

.reset-password-form .send-reset-button {
  background-color: #B1E457; /* Default background color */
  color: #212936; /* Default text color */
  margin-bottom: 1rem;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color changes */
}

.reset-password-form .send-reset-button.not-filled {
  background-color: #A15FF433; /* Background color when inputs are not filled */
  color: #6C727F; /* Text color when inputs are not filled */
}

.reset-password-form .send-reset-button.filled {
  background-color: #B1E457; /* Background color when inputs are filled */
  color: #212936; /* Text color when inputs are filled */
}

.reset-password-form .send-reset-button:hover {
  background-color: #a4d776; /* Background color on hover */
  color: #212936; /* Text color on hover */
}

/* Style for success message */
.reset-password-form .success-message {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #4CAF50;
  margin-top: 10px;
}

/* Style for the login link in the success message */
.reset-password-form .success-message .login-link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.reset-password-form .success-message .login-link:hover {
  color: #a4d776;
}
